# Adult Income Analysis
### Author: Jared Young
### Date: June 2, 2023
### Data: https://www.kaggle.com/datasets/wenruliu/adult-income-dataset

Descption: I use a dataset I found on the income of adults in a predictive nature to see if we can isolate some of the most important features in determining someone's income

In [1]:
# Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [5]:
# Importing Data
data = pd.read_csv('/Users/jared/Downloads/adult.csv')
data = data.drop(labels = ["fnlwgt"], axis = 1)
data.head(200)

,age,workclass,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,31,Private,Some-college,10,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,United-States,<=50K
196,44,Private,Some-college,10,Never-married,Transport-moving,Not-in-family,White,Male,0,0,45,United-States,<=50K
197,42,Self-emp-inc,Prof-school,15,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,50,United-States,>50K
198,19,Private,HS-grad,9,Never-married,Machine-op-inspct,Not-in-family,White,Female,0,0,40,United-States,<=50K
199,27,Private,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States,>50K

In [6]:
pd.get_dummies(data, columns = ['workclass'], drop_first = True)

,age,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,...,native-country,income,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay
0,25,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,...,United-States,<=50K,False,False,False,True,False,False,False,False
1,38,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,...,United-States,<=50K,False,False,False,True,False,False,False,False
2,28,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,...,United-States,>50K,False,True,False,False,False,False,False,False
3,44,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,...,United-States,>50K,False,False,False,True,False,False,False,False
4,18,Some-college,10,Never-married,?,Own-child,White,Female,0,0,...,United-States,<=50K,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,...,United-States,<=50K,False,False,False,True,False,False,False,False
48838,40,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,...,United-States,>50K,False,False,False,True,False,False,False,False
48839,58,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,...,United-States,<=50K,False,False,False,True,False,False,False,False
48840,22,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,...,United-States,<=50K,False,False,False,True,False,False,False,False
48841,52,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,...,United-States,>50K,False,False,False,False,True,False,False,False

In [7]:
data['race'].value_counts()

race
White                 41762
Black                  4685
Asian-Pac-Islander     1519
Amer-Indian-Eskimo      470
Other                   406
Name: count, dtype: int64

In [5]:
x_train, x_test, y_train, y_test = train_test_split()

age
36    1348
35    1337
33    1335
23    1329
31    1325
      ...
88       6
85       5
87       3
89       2
86       1
Name: count, Length: 74, dtype: int64